/vendor/
/node_modules/
/app/config/config.php
/storage/*.php
/storage/database/*
!/storage/database/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/uploads/*
!/uploads/.htaccess
/assets/vendor/
.phpunit.cache/
.DS_Store
Thumbs.db
