<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(app|vendor|storage|database|scripts|tests|resources|content|node_modules|deploy)/ - [F,L]
    RewriteRule ^(composer\.(json|lock)|package(-lock)?\.json|phpunit\.xml|artisan)$ - [F,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "\.(php|phtml|phar)$">
    <If "%{REQUEST_URI} =~ m#^/uploads/#">
        Require all denied
    </If>
</FilesMatch>
